@model int 

<div class="container row pt-4">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">İşlem başarılı!</h1>
        Sipariş Numaranız : @Model <br/><br/>
        <img src="~/images/success/succcess.jpeg" width="65%" style="object-fit:cover;" />
    </div>
    <div class="col-12 text-center" style="color:maroon">
        <br/>
        Sipariş Başarılı bir şekilde onaylandı! <br/>
    </div>

</div> 